*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: var(--background-color);
}
:root{
    --primary-color:rgb(255, 255, 255);
    --secendery-color:rgba(255, 255, 255, 0.219);
    --thard-color:rgb(47, 113, 255);
    --background-color:#000000;
    --text-color:rgb(255, 255, 255);
}
.dark{
    --primary-color:red;
    --secendery-color:rgb(247, 247, 247);
    --thard-color:rgb(47, 113, 255);
    --icom-color:#fff8f8;
    --background-color:#ffffff;
    --text-color:black;
    --button-color:rgb(255, 255, 255);
}
.main-nav{
    background-color: var(--background-color);
    color:var(--text-color);
    transition:.5s;
}
.nav-manu{
    font-size: 1.1rem;
    font-weight:bold;
    color:var(--text-color);
}
.navbar-brand{
    font-weight: bold;
    color:var(--icom-color);
    font-size:1.5rem;
    font-family: serif;
    margin-left:5px;
}
h2, h3{
    font-family: serif;
}
.navbar-brand:hover{
    color:var(--primary-color);
}
.nav-manu:hover{
    color:var(--primary-color);
}
.nav-icon{
  margin-top:13px;
  margin-right:10px;
}
#icon{
    cursor:pointer;
    margin-top:10px;
}
// toggle button
.navbar-toggler{
    background-color: #fff;
    padding: 1px 7px;
}
.m-icon{
    font-size: 1rem;
}
//end of nav

// start contust form card 
.contuct-container{
    height: 500px;
    width: 100%;
}
.contuct-container{
    display: flex;
    justify-content: space-evenly;
}
.contuct-para{
    height: 500px;
    width: 300px;
    background-color: #ff9494;
}
.contuct-form{
    height: max-content;
    width: 800px;
    background-color:var(--secendery-color);
    border-radius: 25px;
}
.paragrap-box{
    height: 500px;
    width: 300px;
    background-color:var(--secendery-color);
    color:var(--text-color);
    border-radius: 25px;
}
input{
    background-color: #ffffff1e;
}
input:focus{
    background-color: transparent;
    border:2px solid var(--text-color);
}
textarea{
    background-color: #ffffff1e;
}
textarea:focus{
    background-color: transparent;
    border:2px solid var(--text-color);
}
h1,h5{
    color:var(--text-color);
}
.contuct-image{
    height:180px;
    width: 250px;
    margin-top:20px;
}
.number-m{
    margin-right:138px;
}
.contuct-info{
    width: 100%;
    margin-top:50px;
}
.contct-add2{
    width: 110px;
}
.contct-add1 p{
    margin-bottom:8px;
}
// end cntuct form card 

// start contuct 
.my-contact{
    margin-bottom:50px;
}
.box{
    width: 600px;
    height: 40px;
    border:1px solid var(--thard-color);
    outline:none;
    border-radius:5px;
    margin-top:3px;
    margin-bottom:5px;
}
.con-name{
    margin-left:90px;
}
#comment{
    width: 600px;
    border:1px solid var(--thard-color);
    outline:none;
    border-radius:5px;
    resize: none;
}
.full-container{
    margin-top: 7px;
}
label{
    font-size: 1.2rem;
    font-weight:bold;
    color:var(--text-color);
}
.sub-btn{
    padding-left: 20px;
    padding-right:20px;
    padding-top:8px;
    padding-bottom:8px;
    background-color: var(--thard-color);
    color:#fff;
    border:none;
    outline:none;
    transition:.5s;
    margin-bottom:23px;
}
.sub-btn:hover{
   background-color: black;
}
// end main contuct form
@media screen and (max-width:678px) {
    .contuct-container{
       flex-direction: column;
       width:100%;
       margin-top: 25px;
       height: max-content;
    }
    .contuct-form{
        height: 500px;
        width:90%;
        margin-left: 20px;
    }
    .box{
        width: 90%;
    }
    #comment{
        width: 90%;
    }
    .contuct-para{
        height: 600px;
        width: 100%;
        
    }
    .paragrap-box{
        height: 391px;
        width: 90%;
        margin-left: 20px;
        margin-bottom: 30px;
    }
    .con-name{
        margin-left:25px;
    }
}
.foot-container{
  height: 200px;
  width:100%;
  background-color:var(--secendery-color);
  margin-top:50px;
}
.icons{
    margin: 20px;
    height: 40px;
    width: 40px;
    font-size: 1rem;
    background-color: #fff;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--thard-color);
    transition:.5s;
}
.icons:hover{
   background-color: var(--thard-color);
   color:#fff;
}
.foot-titel-text{
    margin-top: 20px;
    color:var(--thard-color);
}
.copyright-text{
    color:var(--thard-color);
}
@media screen and (max-width:678px) {
    .foot-container{
        height: 200px;
        width:100%;
        margin-top: 111px;
      }
      .foot-titel{
        width: 100%;

      }
      .copyright{
        width: 100%;
      }
      .foot-icon{
        width: 100%;
      }
      .icons{
        margin: 5px;
    }
    .copy{
        font-size: .8rem;
        margin-top:25px;
    }
}
.error1, .error2, .error3, .error4{
    color:red;
    font-weight:bold;
}